.VacationCard.Box {
	width: 600px;
    text-align: left;
    background:white;
    /* height: 300px; */
    overflow: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.VacationCardDetails{
    display: flex;
    flex-direction: column;
    gap: 8px; 
    width: 90%;
}
.VacationCardDetailsWrapper{
display: flex;
position: relative;
}
.headerCard{
    font-weight: 900;
}
/* .description{
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}
.description .show{
    border: 1px solid red;
    padding: 5px;
    white-space: break-spaces;
    overflow: unset;
  } */
.VacationCard img {
    width: 95%;
     height: 250px; 
    /* border: 1px solid black; */
    border-radius: 10px;
    vertical-align: middle;
}

.VacationCard > div:last-child {
    margin-left: auto;
}
.default-follow{
    background-color: grey;
    color: white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    padding: 5px;
    align-content: center;
    justify-content: center;
    cursor: pointer;
}

.bg-salmon {    
    cursor: pointer;
    background-color: salmon;
    color: white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    padding: 5px;
    align-content: center;
    justify-content: center
  }
  .VacationCard .del-btn {
    padding: 0;
    background-color: transparent;
    color: darkred;
    cursor: pointer;
    border: none;
    width: fit-content;
}

.VacationCard .edit-btn {
    color: darkblue;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    width: fit-content;
}
.btn-actions-wrapper{
    display: flex;
    flex-direction: column;
    top: 0px;
    position: absolute;
    right: 4px;
    border: 1px solid;
    padding: 2px;
    border-radius: 4px
}