.Menu {
	display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
}

.Menu .active {
    color: black !important;
    font-weight: bold;
    font-family: Arial;
}
.menu-link{
    color: darkcyan !important;

}
